{% extends 'core/base.html' %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Profile</li>
{% endblock breadcrumb%}

{% block content %}
<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-12">
                    <div class="social-box" style="height:110%">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                  <!-- <img class="rounded-circle account-img" src="{{ logged_user.img.url }}"> -->
                                  <div class="media-body">
                                    <h2 class="account-heading">Welcome {{ user.username }}</h2>
                                    <p class="text-secondary">{{ user.email }}</p>
                                  </div>
                                </div>
                                <img src="{{ logged_user.img.url }}" class="img-avatar m-4" alt="{{ user }}" width="20%">
                                <br>
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="custom-file col-md-4">
                                        {{ img_form.img }}
                                        <label class="custom-file-label btn-sm" for="validatedCustomFile">Update picture...</label>
                                        <div>
                                            <button class="btn btn-primary btn-sm my-2" type="submit">Upload</button>
                                        </div>
                                    </div>
                                </form>
                                    <!-- <li>
                                        <strong>{{ logged_user.user.project_set.all.count }}</strong>
                                        <span>projects</span>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <div class="social-box">
                        <ul class="mt-3">
                            <li><span>Assigned Projects:
                                    {% for project in logged_user.user.project_set.all %}
                                        <a href="">{{ project.name }},</a>
                                    {% endfor %}
                                </span>
                            </li>
                        </ul>
                        <ul>
                            <li><span>Name: <a href="">{{ logged_user.user.get_full_name }}</a></span></li>
                            <li><span>e-mail: <span class="text-blue text-lowercase">{{ logged_user.user.email }}</span></span>
                            </li>
                        </ul>
                        <ul>
                            <li><span>Date joined: <span class="text-blue">{{ logged_user.user.date_joined }}</span></span></li>
                            <li><span>Last login: <span class="text-blue">{{ logged_user.user.last_login }}</span></span></li>
                        </ul>

                        <ul>
                            <li><span>Type: 
                                {% if logged_user.type == 1 %}
                                <span class="text-blue">Employee</span></span></li>
                                {% else %}
                                <span class="text-blue">Intern</span></span></li>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}